* {
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 570px;
  margin: 20px auto;
  padding: 20px 20px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  opacity: 0.9;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
}

/* FONTS */
#date-time,
.temp-additional-info,
.weather-forecast-items h2 {
  font-size: 14px;
}

.weather-forecast-items h1 {
  font-size: 16px;
}

/* SEARCH-FORM */
#search-form {
  margin-top: 15px 15px 0 15px;
}

#btn-search {
  color: #330867;
}

#btn-search:hover {
  color: #a29aaa;
}

#btn-current-location:hover {
  color: #330867;
}

/* WEATHER OVERVIEW SECTION */
#weather-overview-section {
  padding-top: 20px;
}

.timestamp-wrapper,
.temperature-wrapper {
  padding: 0 15px;
}

#location {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 500;
}

#temperature {
  padding-right: 30px;
  font-size: 45px;
  font-weight: 500;
  line-height: 70px;
}

.temp-unit {
  position: relative;
  top: -20px;
  left: -25px;
  border-bottom: 1px solid transparent;
  font-size: 22px;
  font-weight: 500;
}

.temp-unit a {
  color: #ef7d5e;
  text-decoration: none;
}

.temp-unit .inactive:hover {
  color: #a29aaa;
  border-bottom: 1px solid #a29aaa;
  transition: all 200ms ease-in-out;
}

.temp-unit .active {
  color: #fff;
  cursor: default;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.temp-unit .active:hover {
  text-decoration: none;
}

#temp-icon {
  display: block;
  margin: 0 auto;
}

#weather-description {
  font-size: 25px;
  font-weight: 500;
  text-transform: lowercase;
}

.temp-additional-info {
  margin: 0;
  padding: 0;
  text-align: right;
  list-style-type: none;
}

/* WEATHER-FORECAST-SECTION */
#forecast {
  margin: 20px 0 15px;
}

.weather-forecast-items {
  margin: 0 5px;
  text-align: center;
}

.weather-forecast-items img {
  max-width: 50px;
  max-height: 50px;
}

footer {
  margin: 15px 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  letter-spacing: -0.5px;
  color: #330867;
}

.footer-link {
  color: #330867;
  text-decoration: none;
  border-bottom: 1px solid #330867;
}

.footer-link:hover {
  color: #a29aaa;
  border-bottom: 1.5px solid #a29aaa;
  transition: all 200ms ease-in-out;
}
